<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <Li class="main-header_item"><a href="/">Shop</Li>
            <li class="main-header_item"><a href="/admin/addProduct">Add Product</a></li>
        </ul>
    </nav>
</header>